

body{
	background-color:#eee;
	color: #333;
    font-family: "microsoft yahei";
    font-size: 12px;
	margin:0px auto;
}

img{
	max-width:100%;
}

header{
	background:#383838 none repeat scroll 0 0;
}
header img{
		max-width:90%;
		padding-left:20px;
		margin-bottom:10px;
}
h2{
	font-size:20px;
}
h3{
	font-size:16px;	
}

h3,.auther{
	color:#5E5E5E;
}

.main-nav {
    position: relative;
}
.main-nav,.content, .aside{
	margin:0 auto;
	/*width:1000px;*/
}

.main-nav .logo{
	width:200px;
}

.nav-links{
	font-size:14px;
	list-style-position:inside;
	margin:-10px 0 0 ;
	position:absolute;
	right:0;
	top:50%;

}
.nav-links li{
	float:left;
	margin:0 5px;

}
.nav-links li a:link{
	color:white;
	text-decoration:none;
}
.nav-links li a:visited{
	color:blue;
}

.nav-links li a:hover{
	color:#AAAAAA;
}

.nav-links li a:active{
	color:yellow;
}
article{
	background-color:white;
	padding:20px;
	margin:0 0 20px 0;
	box-shadow: 2px 2px 2px #aaa;
}
article ul{
	list-style-type:none;
	font-size:16px;

}

#pic{
	height:380px;

}

.pic-list li{
	width: 120px; 
	border: 1px #ccc solid; 
	box-sizing: border-box; 
	padding: 10px 10px 10px 10px; 
	text-align: center; 
	margin: 15px 20px;
	float:left;


}
.pic-list summary{
	display:block;
	font-size: 14px; 
	margin-bottom: 10px;
}

article ol{
	font-size:16px;

}
article p{
	font-size:14px;
	text-indent:2em;
}


table{
	width:100%;
	border-collapse:collapse;
}

table th{
	background: #333;
	 color: #fff; 
	 text-align: left
}
table td, table th{
	border: 0; 
	padding: 5px; 
	border: 1px #ccc solid; 
}
table tr:last-child{background: #ccc; 
	font-weight: bold
}
td{
	font-size:12px;
}

/* form css*/

aside{
	background-color:white;
	box-shadow: 2px 2px 2px #aaa;
	padding:20px;
	box-sizing:border-box;
	margin-bottom:20px;
}

form{
	border:1px solid #E4E4E4;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	/*background: #F7F7F7;*/
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	/*color: #888;*/
}
.hidden{
	visibility:hidden;
}

form label{
	display:block;
	margin:0px;
 
}

label>span {
float: left;
text-align: right;
width: 30%;
padding-right: 10px;
margin-top: 10px;
/*color: #888;*/
}
label>p{
	margin-top:0px;
	color:#888;
}


form label textarea{
	height:100px;
	width: 60%;
	padding: 5px 3px 3px 5px;
	margin:4px 2px;
	font-size:14px;
}


form input[type="email"],form input[type="password"], form textarea, form select{
	border: 1px solid #DADADA;
	/*color: #888;*/
	height: 30px;
	margin-bottom: 6px;
	margin-right: 6px;
	margin-top: 5px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 50%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
}

form select{
	width: 60px;
}

form input[type="radio"],form input[type="checkbox"]{
	margin-top:0.7em;
}


form .button{
	background-color:  #E27575;
	border-radius: 5px;
	width:100%;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #949494;
}


footer{
	width:100%;
	height:70px;
	line-height:70px;
	overflow:hidden;
	background-color:black;
	color:white;
	text-align:center;
	vertical-align:middle;
}

.content{
	width:70%;
	float:left;
	margin:20px;
}



aside{
	width:26%;
	float:left;
	margin-top:20px;
}

aside>h2{
	border-left:2px #666666 solid;
	padding-left:4px;
	font-size:18px;
}