body {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
}

.box {
  background: #ccc;
  color: white;
  padding:20px;
  width: 400px;
  height: 200px;

  position:absolute;
  top:50%;
  left:50%;
  margin:-120px 0 0 -220px;
}

.round1{
  background: #fc0;
  width: 50px; 
  height: 50px; 
  border-radius:0 0 50px 0; 
  position:absolute;
  top:0;
  left:0;


}
.round2{
  background: #fc0;
  width: 50px; 
  height: 50px; 
  border-radius:50px 0 0 0;
  position:absolute;
  right:0;
  bottom:0;

}
